.movies {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 70px 70px 80px;
}

.movies__list {
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 364px);
    grid-auto-rows: auto;
    gap: 30px 24px;
    justify-content: center;
}

.movies__button-more {
    width: 320px;
    height: 36px;
    border-radius: 6px;
    border: none;
    background: #F9F9F9;

    margin: 80px auto;


    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


    transition: all .3s ease;
    cursor: pointer;
}

.movies__button-more:hover {
    opacity: .6;
}

@media (max-width: 768px) {
    .movies {
        padding: 70px 30px 30px;
    }

    .movies__list {
        grid-template-columns: repeat(auto-fill, minmax(300px,339px));
        gap: 36px 30px;
    }
}

@media (max-width: 320px) {

    .movies {
        padding: 40px 10px 30px;
    }

    .movies__list {
        grid-template-columns: repeat(auto-fill, 300px);
        gap: 16px 0px;
    }

    .movies__button-more {
        width: 240px;
        height: 36px;
        margin: 90px auto;
    }
}