.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.profile__title {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin: 0;
    margin-bottom: 120px;
    margin: 75px auto;
    color: var(--color-third);
}

.profile__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 410px;
    width: 100%;

}

.profile__input-container {
    margin-top: 30px;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: static;
}

.profile__label {
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 46px;
}

.profile__label:nth-child(1) {
    border-bottom: 1px solid #E8E8E8;
}

.profile__label-text {
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-wrap: nowrap;
    color:var(--color-third);
}

.profile__input {
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    padding: 0;
    width: inherit;
    /* direction: rtl; */
    text-align: right;
    border: none;
    outline: none;
    color:var(--color-third);
    background-color: var(--color-primary);
}

.profile__input:focus {
    border: none;
    outline: none;
}

.profile__error {
    color: var(--color-error);
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.profile__pass{
    color: var(--color-info);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;

    position: relative;
    top: 20px;
    right: 0;
}

.profile__buttons {
    width: inherit;
    margin-top: 205px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__button-edit {
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;

    margin-bottom: 16px;
    color: var(--color-third);
}

.profile__button-exit {
    padding: 0;
    color: var(--color-action);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.profile__button-save {
    padding: 0;
    color: var(--color-third);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: inherit;
    height: 45px;
    flex-shrink: 0;
    border-radius: 3px;
    border: none;

    background: var(--color-action);
    transition: opacity .3s ease;
}

.profile__button-save:hover {
    opacity: 0.6;
}

.profile__button-save_disabled {
    color: var(--color-third);
    background: var(--color-secondary);
}

@media (max-width: 768px) {
    .profile__title {
        margin: 230px auto 50px;
    }

    .profile__buttons {
        margin-top: 195px;
    }

}

@media (max-width: 640px) {
    .profile__form {
        max-width: 260px;
    }
}

@media (max-width: 320px) {
    .profile__title {
        margin: 65px auto 35px;
    }

    .profile__buttons {
        margin-top: 360px;
    }
}