.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--color-lending);
    padding: 18px 70px;
}

.header_lending {
    background-color: var(--color-lending);
}

.header_primary {
    background-color: var(--color-primary);
}

.header__container {
    max-width: 1280px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__logo {
    height: 38px;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;


    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;

    transition: opacity .3s ease;
    text-decoration: none;
    margin-left: 50px;

}

.header__button_signup {
    color: #fff;
}

.header__button_signin {
    color: #000;
    border: none;
    width: 76px;
    height: 32px;
    border-radius: 3px;
    background: var(--color-info);
}


.header__button:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 18px 30px;
    }

    .header__button {
        margin-left: 30px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        padding: 18px 14px;
    }

    .header__button {
        font-size: 10px;
        margin-left: 14px;
    }

    .header__button_signin {
        width: 54px;
        height: 26px;
    }
}