.register {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    /* padding: 232px auto; */
}

.register__logo {
    height: 38px;
    transition: transform .3s ease;
}

.register__logo:hover {
    transform: scale(1.2);
}

.register__title {
    color: var(--color-third);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin: 40px 0;
}

.register__form {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.register__label {
    color: var(--color-info);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register__input {
    width: inherit;
    height: 32px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border: none;
    outline: none;

    border-bottom: 1px solidvar(--color-third);
    margin-bottom: 6px;
    background-color: var(--color-input);
    color: var(--color-third);
}

.register__input:focus {
    border-bottom: 1px solid var(--color-info);
    background-color: var(--color-secondary);
}

.register__input_error{
    color: var(--color-error);
}

.register__error{
    height: 20px;
    color: var(--color-error);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-bottom: 6px;
}

.register__button {
    color: var(--color-third);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: inherit;
    height: 45px;
    flex-shrink: 0;
    border-radius: 3px;
    border: none;

    background: var(--color-action);
    transition: opacity .3s ease;

    padding: 0;
    margin-top: 130px;
    margin-bottom: 16px;
}

.register__button:hover {
    opacity: 0.6;
}


.register__button_disabled {
    color: var(--color-third);
    background: var(--color-secondary);
}

.register__line {
    align-self: center;

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.register__link {
    color: var(--color-action);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    transition: opacity .3s ease;
}

.register__link:hover {
    opacity: 0.6;
}

.register__text {
    color: var(--color-third);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-right: 6px;
}

@media (max-width: 768px) {
    .register {
        margin-top: 205px;
    }
}

@media (max-width: 640px) {
    .register {
        max-width: 260px;
        padding-top: 56px;
        padding-bottom: 30px;
    }

    .register__logo {
        align-self: center;
    }

    .register__title {
        align-self: center;
    }

    .register__button {
        font-size: 12px;
        margin-top: 215px;
        margin-bottom: 14px;
    }

}


@media (max-width: 320px) {
    .register {
        justify-content: flex-start;
    }

    .register__form {}

    .register__title {
        margin: 48px auto 83px;
    }

    .register__input {
        margin-bottom: 4px;
    }

    .register__text {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}