.techs {
    background-color: var(--color-secondary);
    width: 100%;
    box-sizing: border-box;
    padding: 100px 70px;

    display: flex;
    flex-direction: column;
}

.techs__title {
    max-width: 608px;
    width: 100%;

    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;

    margin-bottom: 23px;
}

.techs__line {
    background: #000;
    width: 100%;
    height: 1px;
    margin-bottom: 90px;
}


.techs__article-container {
    max-width: 460px;
    width: 100%;
    text-align: center;
    align-self: center;

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 100px;
}

.techs__article {
    width: 100%;
}

.techs__article-title {
    color: #000;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;

    margin-bottom: 26px;
}

.techs__article-text {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.56px;

    word-wrap: break-word;
    margin: 0;
    /* margin-right: 40px; */

}

.techs__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 50px;
}

.techs__list-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;

    padding: 0;
    margin: 0;

    flex-wrap: wrap;
}

.techs__list-item {
    width: 90px;
    height: 60px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;


    border-radius: 10px;
    background: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .techs {
        padding: 90px 50px;
    }

    .techs__article-container {
        margin-bottom: 83px;
    }

    .techs__article-title {
        margin-bottom: 22px;
    }

    .techs__article-text {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.48px;
    }

    .techs__list {
        padding: 0;
    }
    .techs__list-items 
    {
        padding: 0;
    }
    .techs__list-item {
        width: 84px;
        height: 57px;
        font-size: 12px;
        letter-spacing: -0.48px;
    }

}

@media (max-width: 320px) {
    .techs {
        padding: 70px 18px;
    }

    .techs__article-container {
        margin-bottom: 50px;
    }

    .techs__article-title {
        margin-bottom: 24px;
    }

    .techs__title {
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .techs__article-title {
        font-size: 30px;
        line-height: normal;
        letter-spacing: -1.2px;
    }

    .techs__article-text {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: -0.44px;
    }

    .techs__list {
        padding: 0 0 0 52px;
    }
    .techs__list-item {
        width: 84px;
        height: 57px;
    }

}